<ion-content class="tutorial">
  <div class="tutorial--content">
    <div class="tutorial--title">{{ 'LITERALS.welcome' | translate }}</div>
    <div class="tutorial--subtitle">{{ 'LITERALS.welcomeSubtitle' | translate }}</div>
    <div class="tutorial--text2">{{ 'LITERALS.welcome2' | translate }}</div>
    <!-- <div class="tutorial--text3">{{ 'LITERALS.welcome3' | translate }}</div> -->
    <div class="tutorial--text31">{{ 'LITERALS.welcome31' | translate }}</div>
    <div class="tutorial--text4">{{ 'LITERALS.welcome4' | translate }}</div>
    <div class="tutorial--button-wrapper">
      <div class="btn" (click)="close()">{{ 'LITERALS.logro_1' | translate }}</div>
    </div>
  </div>



</ion-content>