<ion-content class="tutorial">
  <!-- <div class="tutorial--content">
    <div class="tutorial--title">{{ 'LITERALS.welcome' | translate }}</div>
    <div class="tutorial--subtitle">{{ 'LITERALS.welcomeSubtitle' | translate }}</div>
    <div class="tutorial--text2">{{ 'LITERALS.welcome2' | translate }}</div>
    <div class="tutorial--text31">{{ 'LITERALS.welcome31' | translate }}</div>
    <div class="tutorial--text4">{{ 'LITERALS.welcome4' | translate }}</div>
    <div class="tutorial--button-wrapper">
      <div class="btn" (click)="close()">{{ 'LITERALS.logro_1' | translate }}</div>
    </div>
  </div> -->

  <div class="tutorial--content">
    <div class="tutorial--title">
      {{ 'LITERALS.welcome' | translate }}</div>
    <div class="tutorial--subtitle">
      <span>
        {{ 'LITERALS.tutorialSteps' | translate }}
      </span>
      <h5>{{ 'LITERALS.tutorialStepsDesc' | translate }}</h5>
      <img src="../../assets/images/tutorialSteps.png" alt="" />
    </div>
    <div class="tutorial--subtitle">
      <span>
        {{ 'LITERALS.tutorialLogros' | translate }}
      </span>
      <h5>{{ 'LITERALS.tutorialLogrosDesc' | translate }}</h5>
      <img src="../../assets/images/tutorialLogro.png" alt="" />
    </div>
    <div class="tutorial--subtitle">
      <span>
        {{ 'LITERALS.tutorialGrafica' | translate }}
      </span>
      <h5>{{ 'LITERALS.tutorialGraficaDesc' | translate }}</h5>
      <img src="../../assets/images/tutorialGrafica.png" alt="" />
    </div>
    <div class="tutorial--button-wrapper">
      {{ 'LITERALS.tutorialModeRequest' | translate }}
      <div class="btn-manual btn" (click)="close('manual')">{{ 'LITERALS.modeSelectionManual' | translate }}</div>
      <div class="btn-strava btn" (click)="close('strava')">{{ 'LITERALS.modeSelectionAuto' | translate }}</div>
      <div class="btn-google btn" disabled (click)="close('google')">{{ 'LITERALS.modeSelectionGoogle' | translate }} (PRÓXIMAMENTE)</div>
    </div>

  </div>



</ion-content>