// .scroll-container {
//   display: flex;
//   height: 150px;
//   width: 100%;
//   overflow-x: auto;
//   padding: 0.5rem 0;
//   scroll-behavior: smooth;
//   -webkit-overflow-scrolling: touch;
// }
.scroll-container {
  // overflow-x: auto;
  // white-space: nowrap;
  // position: relative;
  // // background-image: url('../../assets/images/fondoMapa3.png');
  // background-repeat: repeat-x;
  // background-size: cover;
  // background-position: 0 0;
  // transition: background-position 0.2s ease;

  justify-content: center;
  display: flex;
  height: 100%;
}

.scroll-container {
  position: relative;
  overflow-x: auto;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../assets/images/fondoMapa3.png');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    opacity: 0.1; // Ajusta a gusto
    z-index: 0;
    pointer-events: none;
  }

  .linea {
    position: relative;
    z-index: 1;
  }
}

.linea {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: max-content;
  padding: 0 1rem;
  position: relative; /* Necesario para que los iconos se posicione bien dentro de la línea */
}

.ubicacion {
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.icono-logro {
  font-size: 1.2rem;
  line-height: 1;
}

.punto-wrapper {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 60px;
}

.punto {
  width: 40px;
  height: 40px;
  background-color: var(--bgColor);;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 4px;
  border-radius: 9px;
}

.punto.visitado {
  border-color: #2e7d32;
  background-color: var(--bgColor);
}

// .punto.actual {
//   border-color: #2196f3;
//   background-color: #e3f2fd;
//   box-shadow: 0 0 6px #2196f3;
// }

.conector {
  height: 3px;
  width: 80px;
  border-radius: 2px;
  transition: background 0.5s ease;
  flex-shrink: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
  border-radius: 6px;
  padding: 0.3rem;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content;
  max-width: 150px;
  white-space: normal;
  pointer-events: none;
}

.tooltip:hover .tooltip-text,
.tooltip:active .tooltip-text {
  visibility: visible;
  opacity: 1;
}
