<div class="policy-content">
  <div class="policy-content__main">
      This privacy policy governs your use of the software application <b>CAMINO POR RUTA ÉPICA</b> for Android mobile devices that was created by Carlos Gonzalez Uri.
  </div>

  <div class="policy-content__secondary">
      <h4>
          What information we collect?
      </h4>
      <div>
          <ul>
              <li>Application does not collect personal information like name, surname, age, date of birth,etc.</li>
              <!-- <li>We connect to STRAVA API to read information.</li>
              <li>We connect to Google Salud Conectada to READ the steps data.</li> -->
              <li>We storge on Local Storge information as:
                  <ul>
                      <li><b>initDay</b>: is the day when user starts the challenge.</li>
                      <!-- <li><b>token</b>: is the STRAVA API access token.</li>
                      <li><b>refresh_token</b>: is the STRAVA API refresh token.</li>
                      <li><b>user_id</b>: is the STRAVA API user id.</li>
                      <li><b>useAUTO</b>: is the selected mode to input data</li> -->
                  </ul>
              </li>
          </ul>
      
          <div>
              We don’t send or sell any information outside the user's mobile phone.
          </div>
          <div>
              User can delete any store data at any time uninstalling or restoring the app.
          </div>
      </div>
      App includes option to delete all data.
  
      There is no Advertisement on the APP
  </div>
</div>