<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header-title">
        <span class="header-title-0">
          {{ 'LITERALS.title0' | translate }}
        </span>
        <span class="header-title-x"> X </span>
        <span class="header-title-1">
          {{ 'LITERALS.title2' | translate }}
        </span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div (click)="openApp()">
    Abir en aplicación
  </div>
  <a href="caminoxrutaepica://home">Abrir mi app2</a> -->

  <div *ngIf="showHome" style="height: 100%;">
    <div id="container">
      <div class="main-card">
        <div class="main-card-data">
          <span class="main-card-data--kms"
            >{{currentDistanceKilometers}}.</span
          >
          <span class="main-card-data--mts">{{currentDistanceMeters}}</span>
          <span class="main-card-data--units"
            >{{ 'LITERALS.units' | translate }}</span
          >
        </div>
        <div class="main-card-description">
        <app-progressbar
            *ngIf="currentPercentageNumber"
            class="main-card-progress-bar"
            [progressBar]="progressBar"
            [lastUbicacion]="lastUbicacion"
            [kmsToNextLogro]="kmsToNextLogro"
          >
          </app-progressbar>
        </div>
      </div>

      <div class="button-icons-wrapper">
        <div class="button-icons-wrapper-single-button" (click)="showGrafica()">
          <span class="button-icons-wrapper-single-button-title">
            {{ 'LITERALS.graf' | translate }}
          </span>
        </div>
        <div class="button-icons-wrapper-single-button" (click)="showLogros()">
          <span class="button-icons-wrapper-single-button-title">
            {{ 'LITERALS.logros' | translate }}
          </span>
        </div>
      </div>

      <div class="selected-content-wraper">
        <app-logros
          *ngIf="isShowLogros"
          [currentLogrosNumber]="currentLogrosNumber"
          [LITERALS]="LITERALS"
        ></app-logros>
        <app-grafica
          *ngIf="isShowGrafica"
          [userSessions]="userSessions"
        ></app-grafica>
      </div>

      <div class="data-wrapper">
        <div class="data-wrapper-row">
          <div class="data-wrapper-column">
            <span class="data-wrapper--title"
              >{{ 'LITERALS.sessions' | translate }}</span
            >
            <div class="data-wrapper--data-icon-wrapper">
              <img src="../../assets/icons/days.png" alt="" />
              <span class="data-wrapper--number">
                {{currentSesionesNumber}}
              </span>
            </div>
          </div>
          <div class="data-wrapper-column">
            <span class="data-wrapper--title"
              >{{ 'LITERALS.percentage' | translate }}</span
            >
            <div class="data-wrapper--data-icon-wrapper">
              <img src="../../assets/icons/progress.png" alt="" />
              <span class="data-wrapper--number"
                >{{currentPercentageNumber}}<span class="data-wrapper--units">
                  %
                </span></span
              >
            </div>
          </div>
          <div class="data-wrapper-column">
            <span class="data-wrapper--title"
              >{{ 'LITERALS.currentMedia' | translate }}</span
            >
            <div class="data-wrapper--data-icon-wrapper">
              <img src="../../assets/icons/average.png" alt="" />
              <span class="data-wrapper--number"
                >{{currentMediaNumber}}<span class="data-wrapper--units">
                  {{ 'LITERALS.units' | translate}}
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="data-wrapper-row">
          <div class="data-wrapper-column">
            <span class="data-wrapper--title"
              >{{ 'LITERALS.totalLogros' | translate }}</span
            >
            <div class="data-wrapper--data-icon-wrapper">
              <img src="../../assets/icons/medal.png" alt="" />
              <span class="data-wrapper--number">{{currentLogrosNumber}}</span>
            </div>
          </div>
          <div class="data-wrapper-column">
            <span class="data-wrapper--title"
              >{{ 'LITERALS.currentLongest' | translate }}</span
            >
            <div class="data-wrapper--data-icon-wrapper">
              <img src="../../assets/icons/fire.png" alt="" />
              <span class="data-wrapper--number">{{currentLongestNumber}}</span>
            </div>
          </div>
          <div class="data-wrapper-column">
            <span class="data-wrapper--title"
              >{{ 'LITERALS.steps' | translate }}</span
            >
            <div class="data-wrapper--data-icon-wrapper">
              <img src="../../assets/icons/steps.png" alt="" />
              <span class="data-wrapper--number">{{currentStepsNumber}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="utils-btns-wrapper">
        <div
          class="utils-btns-wrapper-btn utils-btns-wrapper-btn--settings"
          (click)="openSettings()"
        >
          <span>{{ 'LITERALS.settings' | translate | uppercase }}</span>
        </div>
        <div
          class="utils-btns-wrapper-btn utils-btns-wrapper-btn--add"
          (click)="askForNewData()"
        >
          <span>{{ 'LITERALS.add' | translate | uppercase }}</span>
        </div>
      </div>

      <div class="next-tag-wrapper" [ngClass]="{'hide': !isShowFooterCard }">
        <div class="next-tag-content" (click)="showFooterCard()">
          <div class="next-tag-content-title">
            {{ 'LITERALS.next' | translate }}
          </div>
          <div class="next-tag-content-data">
            <div class="next-tag-content-data--steps">
              {{stepsToNextLogro}} {{ 'LITERALS.steps' | translate }}
            </div>
            <div class="next-tag-content-data--numbers">
              {{kmsToNextLogro}} {{ 'LITERALS.units' | translate }}
            </div>
            <div class="next-tag-content-data--description">
              {{nextStop | translate}}
            </div>
          </div>
          <div class="next-tag-content-button">NEXT</div>
        </div>
      </div>
    </div>
  </div>

  <app-settings
    *ngIf="showSettings"
    (closeSettings)="onCloseSettings()"
  ></app-settings>
  <app-tutorial
    *ngIf="showTutorial"
    (closeTutorial)="onCloseTutorial()"
  ></app-tutorial>
</ion-content>
